@use "variables" as *;

header {
  background-color: $gray-900;
  color: $white;
  padding: 20px 5%;
  width: 100%;
  box-sizing: border-box;

  h1 {
    margin: 0;
    max-width: $container-max;
    margin-left: auto;
    margin-right: auto;
  }
}

#page-container {
  flex-grow: 1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max;
  display: flex;
  flex-direction: column;
}
