// src/scss/main.scss
@use "partials/variables";
@use "partials/base";
@use "partials/layout";
@use "partials/nav";
@use "partials/main-content";
@use "partials/footer";
@use "partials/buttons";
@use "partials/quiz";
@use "partials/create";
@use "partials/util";
